<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsj.mapper.PlanItemDetailMapper">

    <resultMap id="PlanItemDetailResultMap" type="com.tsj.entity.PlanItemDetail">
        <id property="id" column="id"/>
        <result property="planId" column="plan_id"/>
        <result property="itemId" column="item_id"/>
        <result property="loaded" column="loaded"/>
        <result property="containerInstanceId" column="container_instance_id"/>
        <result property="layerIndex" column="layer_index"/>
        <result property="posX" column="pos_x"/>
        <result property="posY" column="pos_y"/>
        <result property="posZ" column="pos_z"/>
        <result property="swapLengthWidth" column="swap_length_width"/>
        <result property="supportRate" column="support_rate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, plan_id, item_id, loaded, container_instance_id, layer_index,
        pos_x, pos_y, pos_z, swap_length_width, support_rate
    </sql>

    <insert id="insert" parameterType="com.tsj.entity.PlanItemDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO plan_item_detail (
            plan_id, item_id, loaded, container_instance_id, layer_index,
            pos_x, pos_y, pos_z, swap_length_width, support_rate
        )
        VALUES (
            #{planId}, #{itemId}, #{loaded}, #{containerInstanceId}, #{layerIndex},
            #{posX}, #{posY}, #{posZ}, #{swapLengthWidth}, #{supportRate}
        )
    </insert>

    <update id="update" parameterType="com.tsj.entity.PlanItemDetail">
        UPDATE plan_item_detail
        SET plan_id = #{planId},
            item_id = #{itemId},
            loaded = #{loaded},
            container_instance_id = #{containerInstanceId},
            layer_index = #{layerIndex},
            pos_x = #{posX},
            pos_y = #{posY},
            pos_z = #{posZ},
            swap_length_width = #{swapLengthWidth},
            support_rate = #{supportRate}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM plan_item_detail WHERE id = #{id}
    </delete>

    <delete id="deleteByPlanId">
        DELETE FROM plan_item_detail WHERE plan_id = #{planId}
    </delete>

    <select id="selectById" resultMap="PlanItemDetailResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM plan_item_detail
        WHERE id = #{id}
    </select>

    <select id="selectByPlanId" resultMap="PlanItemDetailResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM plan_item_detail
        WHERE plan_id = #{planId}
        ORDER BY id
    </select>

</mapper>

